<h1>Public::Shops#index</h1>
<p>Find me in app/views/public/shops/index.html.erb</p>

<% if @shops.empty? %>
  <p>まだお店が登録されていません。</p>
<% else %>
  <% @shops.each do |shop| %>
    <%= attachment_image_tag shop, :shop_image, :fill, 60, 60, fallback: 'img/no_image.jpg' %>
    <%= link_to shop.name, shop_path(shop) %>
    <%= shop.favorite_shops.count %>
  <% end %>
<% end %>