<h2>食べ物一覧</h2>

<div class="row">
  <div class="col-md-9">

    <% if @foods.empty? %>
      <p>まだ食べ物が登録されていません。</p>
    <% else %>

      <div class="d-flex flex-wrap mt-3 align-items-center">
        <%= render 'layouts/food/foods', foods: @foods %>
      </div>

      <%= paginate @foods %>

    <% end %>
  </div>

  <div class="col-md-3">
    <%= render 'public/genre_taste_search', genres: @genres, tastes: @tastes %>
  </div>
</div>
