<p><i class="fas fa-thumbs-up"></i> 店お気に入り/ <%= @shop.favorite_shops.count %></p>

<div class="float-right">
  <% if user_signed_in? %>
    <% if shop.shop_favorited_by?(current_user) %>
        <%= link_to shop_favorite_shops_path(shop), class: "btn btn-outline-primary", method: :delete, remote: true do %>
          <i class="fas fa-thumbs-up"></i> お気に入り解除
        <% end %>
      <% else %>
        <%= link_to shop_favorite_shops_path(shop), class: "btn btn-primary", method: :post, remote: true do %>
          <i class="far fa-thumbs-up"></i> お気に入り登録
        <% end %>
    <% end %>
  <% end %>
</div>
