<h1>Public::Homes#which_sign_up</h1>
<p>Find me in app/views/public/homes/which_sign_up.html.erb</p>

<%= link_to 'ユーザー', new_user_registration_path %>

<%= link_to 'お店', new_shop_registration_path %>