<div class="bg-light rounded p-3 shadow">
  <h2>どちらで新規登録しますか？</h2>

  <div class="d-flex align-items-center justify-content-center mt-5">
    <%= link_to new_user_registration_path, class: 'btn btn-primary mr-5 col-md-2' do %>
     <i class="fas fa-user"></i> ユーザー
    <% end %>

    <%= link_to new_shop_registration_path, class: 'btn btn-primary ml-5 col-md-2' do %>
      <i class="fas fa-store"></i> お店
    <% end %>
  </div>

  <p class="text-right">
    <%= link_to 'ゲストユーザーでログイン', users_guest_sign_in_path, method: :post %>
    <%= link_to 'ゲストお店でログイン', shops_guest_sign_in_path, method: :post %>
  </p>
</div>
