<h1>Admin::Informations#edit</h1>
<p>Find me in app/views/admin/informations/edit.html.erb</p>
<%= form_with model: @information, url: admin_information_path(@information), local:true do |f| %>

  <%= f.text_field :title %>
  <%= f.text_area :body %>

  <%= f.submit '編集する' %>

<% end %>