<h2><%= @user.name %>のお気に入り食べ物一覧</h2>
<% if @favorite_foods.present? %>
  <div class="d-flex flex-wrap mt-3 align-items-center">
    <%= render 'layouts/food/foods', foods: @favorite_foods %>
  </div>
<% else %>
  <p>お気に入り登録した食べ物がありません。</p>
<% end %>
