<h1>Admin::Genres#edit</h1>
<p>Find me in app/views/admin/genres/edit.html.erb</p>
<%= form_with model: @genre, url: admin_genre_path(@genre), local:true do |f| %>
  <%= f.text_field :name %>

  <%= f.submit '登録する' %>
<% end %>
