// Place all the styles related to the admin/shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.created_at{
  width: 20%;
}

.id {
  width: 10%;
}

.name {
  width: 30%;
}

.email {
  width: 20%;
}

.status {
  width: 20%;
}