/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
  background-color: #EBAD75;
}

footer {
  text-align: center;
  background-color: #9E7810;
}

p {
  white-space: pre-wrap;
}

.foods, .searches, .shops, .favorite_foods, .favorite_shops {

  .card {
    width: 30%;
  }
}

.food_show {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.fa-heart {
  color: red;
}

.fa-star {
  color: orange;
}

.fa-ice-cream {
  color: pink;
}

.fa-bacon {
  color: orange;
}

.fa-seedling {
  color: green;
}

.fa-lemon {
  color: yellow;
}

.fa-pepper-hot {
  color: red;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.tab {
  cursor: pointer;
}

.tab:first-child {
  border-left: none;
}

.tab-active {
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}