<table class="table border">
  <th>おおまかな味</th>
    <% Food.tastes_i18n.each do |taste| %>
      <tr>
        <td><%= link_to taste.pop, searches_path(taste_search: taste.shift) %></td>
      </tr>
    <% end %>
</table>

<table class="table border mt-5">
  <th>ジャンル</th>
    <% genres.each do |genre| %>
      <tr>
        <td><%= link_to genre.name, searches_path(genre_search: genre.id) %></td>
      </tr>
    <% end %>
</table>
